{% extends "base.html" %}

{% block content %}

<p>
    <b>Wie Vindt Wat Waarvan?</b> is een onderdeel van mijn stageproject bij de Open State Foundation. In deze stage
    was het mijn doel om de sentiment-analyse van <a href="https://poliflw.nl">Poliflw</a> te verbeteren. De sentiment-analyse
    bestaat uit twee verschillende aspecten: Een classificatie van polariteit, subjectiviteit, en de woorden en fragmenten
    waardoor de classificatie tot stand kwam. In  <b>Wie Vindt Wat Waarvan?</b> kan je zelf dit tweede doen: je zoekt op
    zoektermen in de Poliflw database, en de resultaten worden hier geanalyseerd op polariteit en subjectiviteit.
</p>


<p>
    Als je zelf aan de slag wil met de code, de repo staat <a href ="https://github.com/aludi/wieVindtWatWaarvan">hier</a> op GitHub!
</p>
{% endblock %}
