{% extends "base.html" %}

{% block content %}

        <p> Op deze pagina kan je in <a href="https://poliflw.nl">Poliflw</a> zoeken op specifieke onderwerpen in de berichtgeving
        van verschillende locale politieke partijen. Op de berichten die hieruit komen wordt een geautomatiseerde
        sentiment-analyse gedaan. Zo kun je zien wat voor soort woorden worden gebruikt om bepaalde onderwerpen te bescrhijven,
            en hoe sterk de sentimenten zijn.
        </p>
        <p> Stel, je wil weten hoe verschillende politieke partijen denken over verschillende energiebronnen.
        Dan vul je in het onderwerp formulier hieronder iets in als "kernenergie, windmolens, zonnepanelen, biomassa".
        Dan maakt dit programma een zoekopdracht in Poliflw naar documenten met een van deze termen.</p>

        <h5> Zoek op onderwerpen!</h5>
        <p><small><i> (Met komma's ertussen)</i></small></p>

        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.corpus_words.label }}<br>
                {{ form.corpus_words(size=200)}}
            </p>
            <p> Hoeveel berichten wil je doorzoeken? (minimaal 100)</p>
            <small><i> Het duurt ongeveer 0.5 minuten per 100 berichten.</i></small>

            <p>
                {{ form.max_val.label }}<br>
                {{ form.max_val(size=20)}}
            </p>
            
            <p> Optioneel: geef ook de sentimenten op specieke onderwerpen binnen de documenten </p>
             <small><i> (Met komma's ertussen)</i></small>

            <p>
                {{ form.topic_words.label }}<br>
                {{ form.topic_words(size=200)}}
            </p>
    
            <p>{{ form.submit() }}</p>
        </form>
<div class="loader"></div>

{% endblock %}
