

{% extends "base.html" %}



{% block content %}
<h4> Sentimenten op de directe zoekvraag:</h4>


<table>
        <tr style = "color:#035C6E">
            <th> Titel artikel </th>
            <th> Partij </th>
            <th> Onderwerp </th>
            <th> Polariteit </th>
            <th> Subjectiviteit </th>
            <th> Context </th>
        </tr>
    {% for item in relevant_items%}
        <tr>
            <td> {{item.title_doc}}</td>
            <td> {{item.party}}</td>
            <td> {{item.entity}}</td>
            <td> {{item.polarity}}</td>
            <td> {{item.objectivity}}</td>
            <td> {{item.words}}</td>
        </tr>
    {% endfor %}
</table>

<h4> Wil je ook de .csv file downloaden?</h4>
{{title_doc}}
<form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>{{ form.submit() }}</p>

</form>

{% endblock %}
